{% extends "layout.html" %} {% block content %}

<!-- main col left -->
<div class="col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Friends</h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {% for friend in friends %}
                <li class="list-group-item"><a href='/people?uid={{ friend[1] }}'>{{ friend[0] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}